*.class
.classpath
.project

# Package Files #
*.jar
*.war
*.earA

# Specific Files #
config.tmc
config.tmc.*
config.anshu.*
clean.bash
rds-truststore.jks
log
mongoSysbenchExecute*.txt
mongoSysbenchExecute*.txt.tsv
mongoSysbenchLoad*.txt
mongoSysbenchLoad*.txt.tsv
run.multi.bash
run.tmc.bash
